// Here you can add other styles
.call-controls{
	display: flex;
	justify-content: center;

	.btn{
		box-shadow: 0 3px 14px rgba(0, 0, 0,.075);
		width: 3.25rem;
		height: 3.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		display: block;
		margin: 0 .4rem;
		transition: .25s ease;
		&.active{
			background: rgb(197, 78, 84);
			color: #fff;
		}
	}
}


.calendar{
	.bg{
		height: 44px;
		width: 100%;
		border: 0;
		box-shadow: none;
		&:focus{
			border: 0;
			box-shadow: none;
		}
	}
}

.form {
	.form-group{
		margin: 0 1rem 1rem;
	}	
}